<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @if(!this.AS.currentLoggedInUser) {
        <a mat-list-item routerLink="/app/signin">Log-In<mat-icon color="accent" style="float:right">login</mat-icon></a>
        <a mat-list-item routerLink="/app/signup">Register<mat-icon color="accent" style="float:right">description</mat-icon></a>
      }
      @else {
        <a mat-list-item routerLink="/app/dashboard">My DashBoard<mat-icon color="accent" style="float:right">home</mat-icon></a>
        <a mat-list-item routerLink="/app/console">DataBase<mat-icon color="accent" style="float:right">table_chart</mat-icon></a>
        <a mat-list-item (click)="logout()">Log-Out<mat-icon color="accent" style="float:right">logout</mat-icon></a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Console</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="bg">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
